*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Montserrat;

  @include respond(tab-portrait) {
    font-size: 45%;
  }

  @include respond(phone) {
    font-size: 40%;
  }
}

body {
  height: 100vh;
  background-image: linear-gradient(
    42deg,
    rgba($color-blue-medium, 0.85) 0%,
    rgba($color-blue-light, 0.85) 100%
  );
  background-repeat: no-repeat;

  @include respond(tab-landscape) {
    height: 100%;
  }

  @include respond(tab-portrait) {
    height: 100vh;
  }
  @include respond(s-phone) {
    height: stretch;
  }
}
