.header-text {
  font-size: 4rem;
  color: $color-white;

  @include respond(s-phone) {
    font-size: 3rem;
  }
}

.body--text {
  margin-bottom: $margin--bottom-large;

  &-main {
    color: $color-white-dark;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 0.867rem;
  }
  &-sub {
    color: $color-white;
    font-size: 2.3rem;

    @include respond(tab-landscape) {
      font-size: 2.3rem;
    }

    @include respond(tab-portrait) {
      line-height: 1.5;
    }
  }
}

input {
  width: 80%;
  margin-bottom: 5rem;
  background: none;
  border: none;
  border-bottom: 2px solid $color-white-dark;
  outline: none;
  padding: 0.8rem;
  color: $color-blue-dark;
  font-size: 2.3rem;

  @include respond(tab-landscape) {
    width: 95%;
    font-size: 2.3rem;
  }
  @include respond(tab-portrait) {
    width: 70%;
    font-size: 2.5rem;
  }

  @include respond(phone) {
    width: 95%;
  }
}
