*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: Montserrat; }
  @media (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media (max-width: 360px) {
    html {
      font-size: 45%; } }

body {
  height: 100vh;
  background-image: linear-gradient(42deg, rgba(85, 115, 247, 0.85) 0%, rgba(96, 195, 255, 0.85) 100%); }

.header-text {
  font-size: 4rem;
  color: #ffffff; }
  @media (max-width: 600px) {
    .header-text {
      font-size: 3rem; } }

.body--text {
  margin-bottom: 5rem; }
  .body--text-main {
    color: #fcfafa;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.867rem; }
  .body--text-sub {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 400; }
    @media (max-width: 900px) {
      .body--text-sub {
        line-height: 1.5;
        width: 90%; } }

hr {
  width: 54.2rem;
  height: 0.4rem;
  margin-bottom: 5rem;
  border-radius: 0.1rem;
  background-color: #fcfafa; }
  @media (max-width: 600px) {
    hr {
      width: 95%; } }

.text-verify {
  font-size: 2rem;
  line-height: 1.5; }
  @media (max-width: 600px) {
    .text-verify {
      font-size: 2rem;
      line-height: 1.5; } }

.container {
  margin: 1rem auto;
  align-items: center;
  text-align: center; }
  @media (max-width: 900px) {
    .container {
      margin: 2rem auto; } }
  @media (max-width: 600px) {
    .container {
      margin: 2rem auto; } }
  .container-sub {
    margin: 10rem auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media (max-width: 600px) {
      .container-sub {
        width: 90%;
        margin: 15rem auto; } }

.btn {
  border-radius: 3rem;
  cursor: pointer; }
  .btn-large {
    width: 25rem;
    height: 6rem; }
  .btn-blue-dark {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #161e43; }
  .btn-text {
    color: #ffffff;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.317rem; }
